h1{
    color: chartreuse;
    text-align: center;
    font-size: 80px;
    font-style: italic;
}

.text{
    text-align: center;
    font-size: 25px;
    text-shadow: 0cqb;
    color: darkblue;
    text-decoration-line: underline;
}