body{
    line-height: 2.8;
}

header{
    text-align: center;
    font-size: 30px;
    padding: 1%;
    border: 8px double green;
    margin: 4%;
    margin-bottom: 7%;
    border-radius: 100%;
    background-color: aqua;
}

section{
    width: 600px;
    margin: auto;
}

h1{
    font-size: 42px;
    text-align: center;
    text-decoration: overline;
    margin-bottom: 15%;
    border: 10px double rgb(166, 255, 0);
    border-radius: 100%;
}

h2{
    font-size: 42px;
    text-align: center;
    text-decoration: overline;
    margin-bottom: 15%;
    border: 10px double rgb(255, 0, 221);
    border-radius: 100%;
}

time{
    font-size: 24px;
    border: 5px dotted rgb(9, 116, 183);
    margin-bottom: 100px;
}

img{
    width: 100%;
    border: 5px double rgb(217, 103, 9);
}

p{
    font-size: 20px;
    border: 10px double rgb(205, 16, 157);
    border-radius: 10%;
}

a{
    margin-left: 50px;
    margin-right: 50px;
}

section a{
    margin: 0;
}

footer{
    text-align: center;
    font-size: 30px;
    padding: 1%;
    border: 8px double rgb(9, 214, 102);
    margin: 1%;
    margin-top: 15%;
    border-radius: 100%;
    background-color: aqua;

}

.hr1{
    margin-bottom: 50%;
    margin-top: 50%;
    height: 8px;
    background-color: rgb(23, 175, 12);

}

.hr2{
    margin-top: 40%;
    margin-bottom: 60%;
    background-color: rgb(165, 190, 6);
    height: 8px;
}