h1{
    font-size: 54px;
    text-align: center;
    color: aqua;
    background-color: goldenrod;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:goldenrod;
    margin-bottom: 10%;
    
}

.text{
    width: 100%;
    border: 4px dotted rgba(239, 7, 219, 0.77);
    background-color: rgb(40, 229, 27);
    
}

a{
    font-size: 36px;
    background-color: thistle;
    text-decoration: overline;
    text-transform: capitalize;
    margin-left: 16px;
    margin-right: 16px;
    margin: 10%;
}

.footer{
    text-align: center;
    background-color: goldenrod;
}

.section{
    width: 500px;
    margin: auto;
}